{% load static %}



<div class="feed-trending-container d-none d-lg-block" style="height: 30vh; width: 50%; margin: 0 auto;">
    <div class="row g-0 h-100">
        <div class="col-lg-4 h-100">
            <img src="{% static 'images/1st logo icon white.png' %}" class="d-block w-100 h-100" alt="..." id="feed-caro-img"
            style="object-fit: cover; image-rendering: -webkit-optimize-contrast;">
        </div>
        <div class="col-lg-8 d-flex align-items-center h-100" style="background: #cfd1d4;">
            <div class="feed-captions" style="background: #cfd1d4; padding-left: 50px;">
                <h6 class="text-muted">Bloggin Ads</h6>
                <h3>FALO BRAND</h3>
                <p>All about the journey</p>
                <!-- <p>Head over to the Falo Brand store or Instagram Page and shop the newly released bags</p> -->
                <a class="btn btn-sm btn-outline-dark" href="">Visit</a>
                
            </div>
        </div>
    </div>
</div>
