{% extends 'base\base.html' %}
{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block title %}Home{% endblock %}



</head>

<body>
  {% block content %}
  
<div class="container">
  <ul class="nav nav-tabs justify-content-center mt-5 mb-5">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="">All</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="">Following</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="">Organizations</a>
    </li>

    <!-- <li class="nav-item">
      <a class="nav-link" href="">Organizations</a>
    </li> -->
    

    <!-- <li class="nav-item">
      <a class="nav-link btn btn-outline-dark" href="#"><svg
        xmlns="http://www.w3.org/2000/svg" width="16" height="16"
        fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
        <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
    </svg></a>
    </li> -->
  </ul>

</div>
  





  <!--Logout Modal -->
  <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Logout</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h5>Are you sure you want to logout?</h5>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-sm btn-primary">Logout</button>
        </div>
      </div>
    </div>
  </div>










  

  <div class="container my-5">
    <div class="row" id="row">




      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-9" id="col">
        {% include 'base/loop_feed_posts.html' %}
      </div>












      
      <div class="col-lg-3 d-none d-md-none d-lg-none d-xl-block" id="col">
        <div id="fixedElement">
          <div class="card" style="width: 100%;" id="suggest-card">
            <div class="card-body">
              <h5 class="text-center">Suggested</h5>
              <hr>
              {% for suggested_user in suggested_users %}
              <div class="row mt-4">
                <div class="col-3">
                  <img src="{{ suggested_user.profile_img.url }}" class="start-post-image" alt="" width="60" height="60"
                    srcset="">
                </div>
                <div class="col-9">
                  <h5><a href="">@{{ suggested_user.username }}</a></h5>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                  <a href="#" class="btn btn-sm btn-dark" id="suggest-button">Subscribe <svg
                      xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor"
                      class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                      <path
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                    </svg></a>
                </div>
              </div>
              {% endfor %}


            </div>
          </div>
        </div>

      </div>
    </div>
  </div>




<script>
  const prev = document.querySelector("#prev");
const next = document.querySelector("#next");

let carouselVp = document.querySelector("#carousel-vp");

let cCarouselInner = document.querySelector("#cCarousel-inner");
let carouselInnerWidth = cCarouselInner.getBoundingClientRect().width;

let leftValue = 0;

// Variable used to set the carousel movement value (card's width + gap)
const totalMovementSize =
  parseFloat(
    document.querySelector(".cCarousel-item").getBoundingClientRect().width,
    10
  ) +
  parseFloat(
    window.getComputedStyle(cCarouselInner).getPropertyValue("gap"),
    10
  );

prev.addEventListener("click", () => {
  if (!leftValue == 0) {
    leftValue -= -totalMovementSize;
    cCarouselInner.style.left = leftValue + "px";
  }
});

next.addEventListener("click", () => {
  const carouselVpWidth = carouselVp.getBoundingClientRect().width;
  if (carouselInnerWidth - Math.abs(leftValue) > carouselVpWidth) {
    leftValue -= totalMovementSize;
    cCarouselInner.style.left = leftValue + "px";
  }
});

const mediaQuery510 = window.matchMedia("(max-width: 510px)");
const mediaQuery770 = window.matchMedia("(max-width: 770px)");

mediaQuery510.addEventListener("change", mediaManagement);
mediaQuery770.addEventListener("change", mediaManagement);

let oldViewportWidth = window.innerWidth;

function mediaManagement() {
  const newViewportWidth = window.innerWidth;

  if (leftValue <= -totalMovementSize && oldViewportWidth < newViewportWidth) {
    leftValue += totalMovementSize;
    cCarouselInner.style.left = leftValue + "px";
    oldViewportWidth = newViewportWidth;
  } else if (
    leftValue <= -totalMovementSize &&
    oldViewportWidth > newViewportWidth
  ) {
    leftValue -= totalMovementSize;
    cCarouselInner.style.left = leftValue + "px";
    oldViewportWidth = newViewportWidth;
  }
}
</script>





{% endblock %}
</body>

</html>