{% extends 'base\base.html' %}
{% load static %}

<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  {% block title %}{{post.title}}{% endblock %}
  
</head>

<body>
  {% block content %}
  <style>
    #like{
      cursor: pointer;
    }
    #unlike{
      cursor: pointer;
    }
  </style>



  <div class="container">
    



    <div class="row">



      <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8">
        <div class="post-detail-card" style="
          background: linear-gradient(71deg, #fffcfc, #faf9f9, #fffcfc);
          border-radius: 5px;
          padding: 20px;
          
          
          ">

          <h6>Post by <a href="{% url 'profile' post.author.id %}">{{post.author}}</a>(25.3k Subscribers)</h6>
          {% include 'base/likes.html' %}
          {% if user in post.likes.all %}
          <a id="unlike" hx-get="{% url 'like-post' post.id %}"
          hx-target="#like-{{post.id}}"
          hx-swap="innerHTML">Unlike</a>
          {% else %}
          <a id="like" hx-get="{% url 'like-post' post.id %}"
          hx-target="#like-{{post.id}}"
          hx-swap="innerHTML">like</a>
          {% endif %}
                <p>
                  {% if request.user == post.author%}
                    <a href="" class="btn btn-sm btn-primary" data-bs-toggle="modal"  data-bs-target="#exampleModalToggle" href="#exampleModalToggle" role="button">Edit Post</a>
                    <a href="" class="btn btn-sm btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete Post</a>
                    {% endif %} 





                <!-- Edit post modal   -->
                <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                  <div class="modal-dialog modal-fullscreen">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalToggleLabel">Edit Post</h5>
                        <button type="button" class="btn-close" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <form action="{% url 'edit-post' post.id %}" method="POST" enctype="multipart/form-data" id="post-form">
                          {% csrf_token %}
                          <div class="post-form">
                          <input type="text" class="post-title my-3" name="post-title" placeholder="" value="{{post.title}}">
                          {% if post.post_cover %}
                          <img src="{{ post.post_cover.url }}" alt="Post Cover" height="70" width="70">
                          {% endif %}
                          <label for="post-cover-image">Change post cover:</label>
                          <input type="file" name="post-cover-image" accept="image/*" value="">
                          <textarea name="post-text" class="post-text-area my-3" placeholder="Talk about something...">{{post.content}}</textarea>
                        </div>
                        </form>  
                      </div>
                      <div class="modal-footer">
                        <button class="btn btn-secondary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-bs-target="#exampleModalToggle3" data-bs-toggle="modal" data-bs-dismiss="modal">Edit Post</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalToggleLabel2">End Editing</h5>
                      </div>
                      <div class="modal-body">
                        Are you sure you want to close?
                      </div>
                      <div class="modal-footer">
                        <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" data-bs-dismiss="modal">Go back</button>
                        <button class="btn btn-secondary" data-bs-dismiss="modal">Yes</button>
                      </div>
                    </div>
                  </div>
                </div>
          
                <div class="modal fade" id="exampleModalToggle3" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalToggleLabel2">Post Confirm</h5>
                      </div>
                      <div class="modal-body">
                        Are you sure you want to edit this post?
                      </div>
                      <div class="modal-footer">
                        <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" data-bs-dismiss="modal">Go back</button>
                        <button class="btn btn-secondary" type="submit" data-bs-dismiss="modal" form="post-form">Yes</button>
                      </div>
                    </div>
                  </div>
                </div>













                <!-- Delete post Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete Post</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        Are you sure you want to delete this post?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <a href="{% url 'delete-post' post.id %}" type="button" class="btn btn-danger">Yes</a>
                      </div>
                    </div>
                  </div>
                </div>
                </p>
                <small>Posted on {{post.created}} 
                  {% if post.edited %}
                  (edited)
                  {% endif %}

                </small>
                <h3>{{post.title}}</h3>
                <hr>
                <div class="post-cover">
                  {% if post.post_cover %}
                  <img src="{{post.post_cover.url}}" width="400" height="300" alt="">
                  {% endif %}  
                </div>
                <hr>
                <p>{{post.content|safe}}</p>


                {% include 'base/comment.html' %}
        </div>
      </div>




    <div class="col-lg-4 d-none d-md-none d-lg-block d-xl-block">
      <div id="fixedElement">
        <div class="card" style="width: 100%;" id="suggest-card">
          <div class="card-body">
            <h5 class="text-center">Suggested</h5>
            <hr>
            {% for post in suggested_posts %}
            <div class="row mt-4">
              <div class="col-3">
                {% if post.post_cover %}
                <img src="{{post.post_cover.url}}" class="profile-suggested-posts" alt="" width="60" height="60"
                  srcset="">
                {% endif %}
              </div>
              <div class="col-9">
                <h5><a href="">{{ post.title|truncatewords:10 }}</a></h5>
                <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-eye" viewBox="0 0 16 16">
                    <path
                      d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                    <path
                      d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                  </svg> {{post.read.count}} | <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                    <path
                      d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                  </svg> 123 | <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-chat-left" viewBox="0 0 16 16">
                    <path
                      d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                  </svg> 3</p>
              </div>
            </div>

            {% endfor %}


          </div>
        </div>
      </div>

    </div>






    </div>










  </div>


















  {% endblock %}







  <script src="assets/js/jquery-2.1.0.min.js"></script>

  <!-- Bootstrap -->
  <script src="assets/js/popper.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>

  <!-- Plugins -->
  <script src="assets/js/scrollreveal.min.js"></script>
  <script src="assets/js/waypoints.min.js"></script>
  <script src="assets/js/jquery.counterup.min.js"></script>
  <script src="assets/js/imgfix.min.js"></script>
  <script src="assets/js/mixitup.js"></script>
  <script src="assets/js/accordions.js"></script>
  <script src="assets/js/owl-carousel.js"></script>

  <!-- Global Init -->
  <script src="assets/js/custom.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
    integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
    crossorigin="anonymous"></script>

</body>

</html>