{% extends 'base\base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block title %}Profile- {{user_profile.username}}{% endblock %}

  <script type="text/javascript">
    // A CSRF token is required when making post requests in Django
    // To be used for making AJAX requests in script.js
    window.CSRF_TOKEN = "{{ csrf_token }}";
  </script>
  <link rel="stylesheet" href="{% static 'my-css/profile_posts_list.css' %}" />
</head>

<body>

  {% block content %}
  {% include 'base/profile_info.html' %}
  {% if top_pick_posts %}
  {% include 'base/profile_top_picks_carousel.html' %}
  {% else %}
  {% if request.user == user_object %}
  {% include 'base/profile_no_top_picks.html' %}
  {% else %}
  {% endif %}
  {% endif %}
  <div class="container">
  
  <ul class="nav nav-tabs justify-content-center mt-5 mb-5">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="{% url 'profile' user_object.username %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'profile-post-list' user_object.username %}">Posts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'series-list' user_object.username %}">Series</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{% url 'organization-profile-list' user_object.username %}">Organizations</a>
    </li>

    <li class="nav-item">
      <a class="nav-link btn btn-outline-dark" href="#"><svg
        xmlns="http://www.w3.org/2000/svg" width="16" height="16"
        fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
        <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
    </svg></a>
    </li>
  </ul>
</div>

<section>
    <div class="container">
      <p class="container-title">Posts</p>

      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Create Series</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="{% url 'create-series' %}" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="series-name" class="col-form-label">Series Name:</label>
                  <input type="text" class="form-control" id="series-name" name="series-name">
                </div>

                <div class="mb-3">
                  <label for="select-org" class="col-form-label">Select Organization:</label>
                  <select name="organization_id" id="select-org">
                    <option value="">--- Select Organization ---</option>
                    {% for organization in created_organizations %}
                    <option value="{{ organization.id }}">{{organization.name}}</option>
                    {% endfor %}
                  </select>
                </div>


              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Create Series</button>
            </div>
        </form>
          </div>
        </div>
      </div>


      <div class="row mt-5">
        {% include 'base/profile_post_list_posts.html' %}
      </div>
    </div>

  </section>


 
  {% endblock %}
</body>

</html>